tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


tbody tr:hover {
    background-color: #ddd;
}


.pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  color: blue; 
}

.pagination button.current-page {
  background-color: blue; 
  color: white; 
  font-weight: bold; 
}

.page-numbers button {
margin: 0; 
}